<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ppck-ver" content="8dbc9f7e0134a86cb03118561b4f0a83" />
    <title><%= title %> - 我的博客</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/highlight.css">
</head>
<body>
    <header>
        <h1>我的博客</h1>
        <nav>
            <ul>
                <li><a href="/">首页</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <article class="post">
            <h1><%= title %></h1>
            <p class="post-meta">发布日期: <%= date %></p>
            <div class="post-content">
                <%- content %>
            </div>
        </article>
    </main>
    
    <script type="text/javascript">
	atOptions = {
		'key' : '83132503d69c13b29e866c8c657f0a89',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
    </script>
    <script type="text/javascript" src="//www.highperformanceformat.com/83132503d69c13b29e866c8c657f0a89/invoke.js"></script>
    <script type='text/javascript' src='//pl27682391.revenuecpmgate.com/14/06/1f/14061f80969ada7652985748552322ed.js'></script>
    <script type='text/javascript' src='//pl27682429.revenuecpmgate.com/e3/76/ba/e376baa15adf7256ac04d5a76aee6396.js'></script>
    <script async="async" data-cfasync="false" src="//pl27682398.revenuecpmgate.com/eeef267a50e2e2ca4587a78d762da5e9/invoke.js"></script>
    <div id="container-eeef267a50e2e2ca4587a78d762da5e9"></div>
    
    <footer>
        <p>&copy; 2023 我的博客. All rights reserved.</p>
    </footer>
</body>
</html>